<div class="container footer mt-4">
	<footer class=" row d-flex justify-content-around py-4">
		<div class="col col-12 col-lg-3 text-center">
			<p>Nos horaires d'ouvertures:</p>
				<ul class="text-start">
				{% for day, hours in openingHourService.getOpeningHour %}
					<li>{{ day }} : {{ hours }}</li>
				{% endfor %}
				</ul>
		</div>
		<div class="col col-12 col-lg-3 text-center">
			<p>Garage.V.Parrot</p>
			Adresse : 123 Rue Imaginaire</br>
			99999 Nullepart, France</br>
			Téléphone : 01 23 45 67 89
		</div>
    	<div class="col col-12 col-lg-3 text-center">
    		<p>Nous <a href="{{path('app_contact')}}" class="gp_link">contacter</a></p>
    		<p>Nos <a href="{{path('app_cgu')}}" class="gp_link">CGU</a></p>
			{% if app.user %}
				<p>Se <a href="{{path('app_logout')}}" class="gp_link">deconnecter</a></p>
			{% else %}
				<p>Se <a href="{{path('app_login')}}" class="gp_link">connecter</a></p>
			{% endif %}
    	</div>
    </footer>
</div>
