{% extends 'base.html.twig' %}

{% block title %}Garage V Parrot{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/CSS/accueilStyle.css') }}">
{% endblock %}

{% block body %}
<div class="banniere text-center d-flex align-items-center justify-content-center">
    <div>
        <h1>Garage V Parrot</h1>
	    <p>Mécanique de précision , service de passion</p>
    </div>	
</div>

<section>
    <div class="row d-flex justify-content-around">
        {% for category in categories %}
        <div class="col col-10 col-sm-4 col-lg-3 m-4 gp_service_container">
            <h5 class="text-center my-3">{{category.name}}</h5>
            <ul>
                {% for service in category.services %}
                    <li class="fs-6 mb-2">{{service.name}} - Prix: {{service.price}}€</li>
                {% endfor %}
                
            </ul>
        </div> 

           
        {% endfor %}
    </div>

</section>


{% endblock %}
